<div fxLayout='column' fxLayoutAlign="space-between none" fxLayoutGap='50px' [formGroup]='formService.form'>
    <!-- Personal Details -->
    <h3>Personal Details</h3>

    <div fxLayout='row' fxLayoutAlign="none center" fxFlex='15'>
        <!-- <input type="hidden" formControlName="$key" /> -->
        <mat-form-field>
          <input
            formControlName="firstName"
            matInput
            placeholder="Firstname"
            required
          />
        </mat-form-field>
        <mat-form-field>
          <input
            formControlName="lastName"
            matInput
            placeholder="Lastname"
            required
          />
        </mat-form-field>
        <mat-form-field>
          <input formControlName="age" matInput placeholder="Age" required />
        </mat-form-field>
    </div>


    <div fxLayout='row' fxLayoutAlign="none center">
      <div class="personal-details-container">
        <mat-form-field>
          <input
            formControlName="email"
            matInput
            placeholder="Email"
            required
          />
        </mat-form-field>
        <mat-form-field>
          <input
            formControlName="phone"
            matInput
            placeholder="Phone"
            required
          />
        </mat-form-field>
      </div>
    </div>
  </div>
<button mat-button type='button' matStepperNext>Next</button>
