/* You can add global styles to this file, and also import other style files */
@import '@angular/material/prebuilt-themes/deeppurple-amber.css';

.toolbar-container {
    display: flex;
    justify-content: center;
}

.personal-details-container{
    width: 100%;
    margin: 5%;
}

.personal-details-container > * {
    width: 100%;
}