/* You can add global styles to this file, and also import other style files */
@import "@angular/material/prebuilt-themes/pink-bluegrey.css";

html, body, .app-root, .app-frame {
  margin: 0;
  height: 100%;
  box-sizing: border-box;
  color: #e0e0e0;
  background-color: #212121;
}

.main-container {
  height: 100%;
}

.search-field {
  width: 60%;
  color: black;
}

.mat-elevation-z8 {
  overflow: scroll;
  width: 90%;
  margin-left: 5%;
  padding: 10px;
  margin-bottom: 3%;
}

.search-input {
  border-radius: 20px;
}

.table-header-title {
  text-align: center;
  padding-top: 10px;
}

th.mat-header-cell, td.mat-cell, td.mat-footer-cell{
  padding: 8px !important;
}

.user-table {
  cursor: pointer;
}

.mat-dialog-title {
  text-align: center;
}

.mat-dialog-content {
  width: 100%;
  text-align: center;
}

.ul-for-skills {
  list-style: none;
  padding-inline-start: 5px;
}
.li-for-skills {
  display: inline;
  padding: 5px;
}

/* .toolbar-container {
  display: flex;
  justify-content: center;
}

.personal-details-container {
  width: 100%;
  margin: 5%;
} 

.personal-details-container > * {
  width: 100%;
}


.user-list-table {
  width: 100%;
  cursor: pointer;
}


.mat-form-field {
  width: 100%;
}

.button-row button {
  margin: 5px;
}

snack-bar-container.success {
  color: rgb(183, 223, 185);
  background-color: rgb(7, 17, 7);
}

snack-bar-container.notification simple-snack-bar{
  display: flex;
  font-size: 1rem;
  justify-content: center;
} 

.create-user-dialog{
  display: flex;
  justify-content: center;
} */

