<form [formGroup]="service.form" (ngSubmit)="onSubmit()">
  <mat-horizontal-stepper #stepper>
    <mat-step>
      <app-user-personal-info></app-user-personal-info>
    </mat-step>
    <mat-step>
      <app-user-address-info></app-user-address-info>
    </mat-step>
    <mat-step>
      <app-user-employment-history></app-user-employment-history>
    </mat-step>
    <mat-step>
      <app-user-skill></app-user-skill>
    </mat-step>
    <mat-step>
      <div>
        <div *ngIf='!service.form.valid'>
          <h3 class='.mat-subheading-2'>You missed something!</h3>
            <h4>Please go back and check your answers</h4>
        </div>
      </div>
      <div *ngIf='service.form.valid'>
        <h3 class='.mat-subheading-2'>Click Submit for Registration</h3>
      </div>
      <div class="button-row" align="end">
          <button type="button" mat-button matStepperPrevious>Back</button>
          <button
          mat-flat-button
          color="primary"
          type="submit"
          [disabled]="!service.form.valid"
          class='submit-button'
        >
          SUBMIT
        </button>
      </div>
    </mat-step>
  </mat-horizontal-stepper>
</form>
