<form [formGroup]="service.form" (ngSubmit)="onSubmit()">
  <mat-horizontal-stepper #stepper>
    <mat-step>
      <app-user-personal-info></app-user-personal-info>
    </mat-step>
    <mat-step>
      <app-user-address-info></app-user-address-info>
    </mat-step>
    <mat-step>
      <app-user-employment-history></app-user-employment-history>
    </mat-step>
    <mat-step>
      <app-user-skill></app-user-skill>
      <div class="button-row">
      <button
        mat-raised-button
        color="primary"
        type="submit"
        [disabled]="!service.form.valid"
      >
        SUBMIT
      </button>
      <button mat-raised-button type="button" color="warn" (click)="onClear()">CLEAR</button>
    </div>
  </mat-step>
  </mat-horizontal-stepper>
</form>


  
