<form [formGroup]="service.form" (ngSubmit)="onSubmit()">
  <mat-grid-list cols="2" rowHeight="300px">
    <!-- Personal Details -->
    <h3>Personal Details</h3>
    <mat-grid-tile>
      <div class="personal-details-container">
        <!-- <input type="hidden" formControlName="$key" /> -->
        <mat-form-field>
          <input
            formControlName="firstName"
            matInput
            placeholder="Firstname"
            required
          />
        </mat-form-field>
        <mat-form-field>
          <input
            formControlName="lastName"
            matInput
            placeholder="Lastname"
            required
          />
        </mat-form-field>
        <mat-form-field>
          <input formControlName="age" matInput placeholder="Age" required />
        </mat-form-field>
      </div>
    </mat-grid-tile>
    <mat-grid-tile>
      <div class="personal-details-container">
        <mat-form-field>
          <input
            formControlName="email"
            matInput
            placeholder="Email"
            required
          />
        </mat-form-field>
        <mat-form-field>
          <input
            formControlName="phone"
            matInput
            placeholder="Phone"
            required
          />
        </mat-form-field>
      </div>
    </mat-grid-tile>
  </mat-grid-list>

  <!-- Address Details -->

  <mat-grid-list cols="2" rowHeight="300px" formGroupName="address">
    <h3>Address</h3>
    <mat-grid-tile>
      <div class="address-details-container">
        <mat-form-field>
          <input
            formControlName="addressField1"
            matInput
            placeholder="Address Field 1"
            required
          />
        </mat-form-field>
        <mat-form-field>
          <input
            formControlName="addressField2"
            matInput
            placeholder="Address Field 2"
          />
        </mat-form-field>
        <mat-form-field>
          <input formControlName="city" matInput placeholder="city" required />
        </mat-form-field>
      </div>
    </mat-grid-tile>

    <mat-grid-tile>
      <div class="address-details-container">
        <mat-form-field>
          <input
            formControlName="state"
            matInput
            placeholder="State"
            required
          />
        </mat-form-field>
        <mat-form-field>
          <input
            formControlName="zipcode"
            matInput
            placeholder="Zipcode"
            required
          />
        </mat-form-field>
      </div>
    </mat-grid-tile>
  </mat-grid-list>

  <!-- Employment History -->
  <div
    formArrayName="employmentHistory"
    *ngFor="let _ of employmentHistory.controls; let i = index"
  >
    <mat-grid-list cols="2" rowHeight="300px" [formGroupName]="i">
      <h3>Employment History</h3>
      <mat-grid-tile>
        <div class="address-details-container">
          <mat-form-field>
            <input
              formControlName="companyName"
              matInput
              placeholder="Copmany Name"
            />
          </mat-form-field>
          <mat-form-field>
            <input
              formControlName="companyAddress"
              matInput
              placeholder="Company Address"
            />
          </mat-form-field>
          <mat-form-field>
            <input
              formControlName="companyPhoneNumber"
              matInput
              placeholder="company contact no"
            />
          </mat-form-field>
        </div>
      </mat-grid-tile>

      <mat-grid-tile>
        <div class="address-details-container">
          <mat-form-field>
            <input formControlName="jobTitle" matInput placeholder="Title" />
          </mat-form-field>
          <mat-form-field>
            <input
              matInput
              [matDatepicker]="picker1"
              formControlName="startDate"
              matInput
              placeholder="Job Started"
            />
            <mat-datepicker-toggle
              matSuffix
              [for]="picker1"
            ></mat-datepicker-toggle>
            <mat-datepicker #picker1></mat-datepicker>
          </mat-form-field>
          <mat-checkbox formControlName="isCurrentJob" #isCurrentJob
            >Currently Working</mat-checkbox
          >
          <mat-form-field *ngIf="!isCurrentJob.checked">
            <input
              matInput
              [matDatepicker]="picker2"
              formControlName="endDate"
              matInput
              placeholder="Job Left"
            />
            <mat-datepicker-toggle
              matSuffix
              [for]="picker2"
            ></mat-datepicker-toggle>
            <mat-datepicker #picker2></mat-datepicker>
          </mat-form-field>
          <mat-form-field>
            <input
              formControlName="reasonForLeaving"
              matInput
              placeholder="Reason for Leaving..."
            />
          </mat-form-field>
        </div>
      </mat-grid-tile>
    </mat-grid-list>
  </div>
  <div>
    <button
      mat-raised-button
      type="button"
      color="secondary"
      (click)="addEmploymentHistoryForm()"
    >
      ADD MORE
    </button>
  </div>
  <div class="button-row">
    <button
      mat-raised-button
      color="primary"
      type="submit"
      [disabled]="!service.form.valid"
    >
      SUBMIT
    </button>
    <button mat-raised-button color="warn" (click)="onClear()">CLEAR</button>
  </div>

  {{ service.form.value | json }}
</form>
